<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="head-bar">
        <h1>POKEMON SHOP</h1>

        <%- include('../partials/nav.ejs') %>

       <!-- partials finish  -->
      </div>
    </header>
    <div class="flex-container">
    <%for(let i = 0; i < pokemonIndex.length; i++){%>
      <div class="row">
        <p><%=pokemonIndex[i].name%></p>
        <a href="/pokemon/<%=i%>"><img class="index-img" src="<%=pokemonIndex[i].img%>" alt=""></a>

        </div>
    <%}%>
    </div>

  </body>
</html>
