<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="head-bar">
        <h1>POKEMON SHOP</h1>

        <%- include('../partials/nav.ejs') %>
       <!-- partials finish  -->
      </div>
    </header>
    <div class="container-display">
      <div class="display-img">
        <img src="<%=pokemonShow.img%>"></img>
        <h2>Coins Needed:
          <%let coin = Math.floor(Math.random()* 1000) %>
          <%= coin %>
        </h2>
      </div>
      <div class="display-info">
        <h4 id="name"><%=pokemonShow.name%></h4>
        <h4>Type:</h4>
          <%for(let i = 0; i < pokemonShow.type.length; i++){%>
          <p>-<%=pokemonShow.type[i]%></p>
          <%}%>
        <h4>Stats:</h4>
          <p>-HP:<%=pokemonShow.stats.hp%></p>
          <p>-Attack:<%=pokemonShow.stats.attack%></p>
          <p>-Defense:<%=pokemonShow.stats.defense%></p>


      </div>
    </div>
    <div class="footer">
      <a href="/pokemon"><button type="button" name="button">return to main page</button></a>

      <a href="/pokemon/<%=id%>/edit">
      <button type="button" name="button">get</button>
      </a>
    </div>
  </body>

</html>
