<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>upgrade pokemon</title>
  </head>
  <body>
    <select name="userId">
      <option value='<%=user._id%>'>
        <%=user.username%>
      </option>
    </select><br/>
    <form action="/logs/<%=user._id%>?_method=PUT" method="post">
      <label for="name">name</label>
      <input type="text" name="name" value = <%=log.name%> id="name">
      <label for="img">name</label>
      <input type="text" name="img" value = <%=log.img%> id="name">
      <label for="type">type</label>
      <input type="text" name="type" value = <%=log.type[0]%> id="type">
      <input type="text" name="type" value = <%=log.type[1]%> id="type">
      <label for="stats">stats</label>
      <input type="text" name="hp" value = <%=log.stats.hp%> id="stats">
      <input type="text" name="attack" value= <%=log.stats.attack%> id="stats">
      <input type="text" name="defense" value= <%=log.stats.defense%> id="stats">
      <input type="submit" name="" value="get pokemon">
    </form>
  </body>
</html>
