<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index page</title>
    <link rel="stylesheet" href="css/main.css">


  </head>
  <body>
    <header>
      <h1>pokemon index</h1>
      <%- include('../partials/nav.ejs') %>
      <%for(let i = 0; i < logs.length; i++){%>
      <p>name : <%=logs[i].name%></p>
      <a href="/logs/<%=logs[i]._id%>"><img src="<%=logs[i].img%>" alt=""></a>
      <form class="" action="/logs/<%=logs[i]._id%>?_method=DELETE" method="post">
        <input type="submit" name="" value="Delete">
      </form>
      <a href="logs/<%=logs[i]._id%>/edit">
        <button type="button" name="button">Upgrade</button>
      </a>

      <form class="" action="/users?_method=PUT" method="post">
        <input type="submit" name="" value="Go Fight">
      </form>
      <%}%>

      <a href="/pokemon">
      <button type="button" name="button">To Shop</button>
      </a>

  </body>
</html>
