<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index page</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css"> -->
  </head>
  <body>
    <header>
      <h1>pokemon index</h1>
      <%- include('../partials/nav.ejs') %>
      <%for(let i = 0; i < logs.length; i++){%>
      <p>name : <%=logs[i].name%></p>
  
      <a href="/logs/<%=logs[i]._id%>"><img src="<%=logs[i].img%>" alt=""></a>
      <form class="" action="/logs/<%=logs[i]._id%>?_method=DELETE" method="post">
        <input type="submit" name="" value="Delete">
      </form>
      <a href="logs/<%=logs[i]._id%>/edit">
        <input type="submit" name="" value="Upgrade">
      </a>



      <%}%>
      <a href="/pokemon">
      <button type="button" name="button">to shop</button>
      </a>
  </body>
</html>
