<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="head-bar">
        <h1><%=log.name%></h1>
        <%- include('../partials/nav.ejs') %>
      </div>
    </header>
    <div class="container-display">
      <div class="display-img">
        <img src="<%=log.img%>" alt="">
      </div>
      <div class="display-info">
        <h4><%=log.name%></h4>
        <h4>Type:</h4>
        <p><%=log.type%></p>
        <h4>Stats:</h4>
        <p>HP:<%=log.stats.hp%></p>
        <p>ATTACK:<%=log.stats.attack%></p>
        <p>DEFENSE:<%=log.stats.defense%></p>
      </div>
    </div>
    <div class="footer">
      <a href="/logs/<%=log.id%>/edit"><button type="button" name="button">Upgrade</button></a>
      <a href="/logs">
      <button type="button" name="button">My Pokedex</button>
      </a>
    </div>


  </body>
</html>
