<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs') %>

    <h2><%=log.name%></h2>
    <h2><%=log.type%></h2>
    <img src="<%=log.img%>" alt="">
    <ul>
      <li>HP:<%=log.stats.hp%></li>
      <li>ATTACK:<%=log.stats.attack%></li>
      <li>DEFENSE:<%=log.stats.defense%></li>
    </ul>
    <a href="/logs/<%=log.id%>/edit"><button type="button" name="button">Upgrade</button></a>
    <a href="/logs">
    <button type="button" name="button">My Pokedex</button>
    </a>
  </body>
</html>
