<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello <%=user.username%></h1>
    <h2><%=log.name%></h2>
    <h2><%=log.ingrediates%></h2>
    <h2><%=log.procedure%></h2>

    <a href="/logs/<%=log.id%>/edit"><button type="button" name="button">Edit Log</button></a>
    <a href="/logs">
    <button type="button" name="button">Main Page</button>
    </a>
  </body>
</html>
